<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <h1>Main page</h1>
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'quotesapp:create_author' %}" role="button">Create Author</a></li>
            <li><a href="{% url 'quotesapp:create_quote' %}" role="button">Create Quote</a></li>
            <li><a href="{% url 'quotesapp:tag' %}" role="button">Tags</a></li>
            <li><a href="{% url 'quotesapp:quotes' %}" role="button">Quotes</a></li>
            <li><a href="{% url 'quotesapp:authors' %}" role="button">Authors</a></li>
        </ul>
        <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            <li><a href="{% url 'quotesapp:quotes' %}" role="button">Quotes</a></li>
            <li><a href="{% url 'quotesapp:authors' %}" role="button">Authors</a></li>
        </ul>
        {% endif %}
    </nav>
    
</main>
</body>
</html> 



